html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

canvas {
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.instructions {
  grid-column: span 2;
}
